body {
    background-color: #FFF9E6;
    font-family: Arial
}

#selfie {
    width: 100px;
}

div.image {
    float: left;
}
div.name {
    float: right;
}

.biography{
    clear: both;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    clear: both;
}