body {
    background-color: #FFF9E6;
    font-family: Arial
}

#selfie {
    width: 100px;
}
.column{
    width: 50%;
    float: left;
}

#personal-info{
    text-align: right;
}

.row{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.biography{
    clear: both;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    clear: both;
}