body {
    background-color: #FFF9E6;
    font-family: Arial
}



#header{
    background-color: #E6ECFF;
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;
}
.navbar {
    background-color: #FFEDB3;
    width: 100%;
   
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 45px;
}
#selfie {
    margin-top: 4%;
    margin-left: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*#selfie:hover {
    transition: transform 1s;
    transform: rotate(360deg);
}*/

.column{
    width: 50%;
    float: left;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

#personal-info{
    text-align: right;
}

.biography{
    clear: both;
    width: 33%;
    float: left;
    text-align: left;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

#nrc{
    margin-top: 17px;
    width: 60%;
    float: right;
}

hr{
    clear: both;
}